@font-face {
    font-family: myFirstFont;
    src: url('../assets/font/ultralight.ttf');
}

body {
	font-family: myFirstFont;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #498287;
	z-index: 1;
}

#mapOverlay {
	
	position: absolute;
	background-color: rgba(0,0,0,.1);
	z-index: 2;
}

#statsBoard {
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

#playersBoard {
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

#gameFindDiv {
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
	z-index: 3;
	margin-top: 5%;
}