@font-face {
    font-family: myFirstFont;
    src: url('../assets/font/ultralight.ttf');
}

body {
	font-family: Century Gothic;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #498287;
	z-index: 1;
}

#mapOverlay {
	
	position: absolute;
	background-color: rgba(0,0,0,.1);
	z-index: 2;
}

#statsBoard {
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

#playersBoard {
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

#gameFindDiv {
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.7);
	z-index: 3;
	margin-top: 15%;
}

#gameStatsDiv {
	position: absolute;
	height: 100px;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	z-index: 4;
}

#affectsOverlay { 
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}


.container {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,0);
    overflow: hidden;
}
.circles,
.circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.circles {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.circle {
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
}
@keyframes x {
    0% {
        transform: rotateX(0deg);        
    }
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes y {
    0% {
        transform: rotateY(0deg);        
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes z {
    0% {
        transform: rotateZ(0deg);        
    }
    100% {
        transform: rotateZ(360deg);
    }
}